--
-- PostgreSQL database dump
--

-- Dumped from database version 15.3
-- Dumped by pg_dump version 15.3

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: clientstatus; Type: TYPE; Schema: public; Owner: ovpnflask
--

CREATE TYPE public.clientstatus AS ENUM (
    'offline',
    'online'
);


ALTER TYPE public.clientstatus OWNER TO ovpnflask;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: cnexpiredate; Type: TABLE; Schema: public; Owner: ovpnflask
--

CREATE TABLE public.cnexpiredate (
    cn character varying(41) NOT NULL,
    releasedate timestamp without time zone,
    expiredate timestamp without time zone
);


ALTER TABLE public.cnexpiredate OWNER TO ovpnflask;

--
-- Name: ovpnclients; Type: TABLE; Schema: public; Owner: ovpnflask
--

CREATE TABLE public.ovpnclients (
    cn character varying(41) NOT NULL,
    ip character varying(15),
    changedate timestamp without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    status integer DEFAULT 0 NOT NULL,
    storename character varying(100) DEFAULT 0 NOT NULL,
    expiredate timestamp without time zone DEFAULT '1970-01-01 00:00:00+08'::timestamp with time zone,
    releasedate timestamp without time zone DEFAULT '1970-01-01 00:00:00'::timestamp without time zone
);


ALTER TABLE public.ovpnclients OWNER TO ovpnflask;

--
-- Name: t1; Type: TABLE; Schema: public; Owner: ovpnflask
--

CREATE TABLE public.t1 (
    id integer NOT NULL,
    name text NOT NULL,
    age integer NOT NULL,
    address character(50),
    salary real
);


ALTER TABLE public.t1 OWNER TO ovpnflask;

--
-- Name: tb_user; Type: TABLE; Schema: public; Owner: ovpnflask
--

CREATE TABLE public.tb_user (
    user_id integer NOT NULL,
    user_type integer,
    username character varying(40) NOT NULL,
    password character varying(120) NOT NULL,
    display_name character varying(40) DEFAULT NULL::character varying,
    status integer DEFAULT 1 NOT NULL,
    create_time timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    update_time timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.tb_user OWNER TO ovpnflask;

--
-- Name: tb_user_user_id_seq; Type: SEQUENCE; Schema: public; Owner: ovpnflask
--

CREATE SEQUENCE public.tb_user_user_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.tb_user_user_id_seq OWNER TO ovpnflask;

--
-- Name: tb_user_user_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: ovpnflask
--

ALTER SEQUENCE public.tb_user_user_id_seq OWNED BY public.tb_user.user_id;


--
-- Name: tunovpnclients; Type: TABLE; Schema: public; Owner: ovpnflask
--

CREATE TABLE public.tunovpnclients (
    cn character varying(41) NOT NULL,
    ip character varying(15),
    changedate timestamp without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    status integer DEFAULT 0 NOT NULL,
    storename character varying(100) DEFAULT 0 NOT NULL,
    expiredate timestamp without time zone DEFAULT '1970-01-01 00:00:00+08'::timestamp with time zone,
    releasedate timestamp without time zone DEFAULT '1970-01-01 00:00:00'::timestamp without time zone
);


ALTER TABLE public.tunovpnclients OWNER TO ovpnflask;

--
-- Name: tb_user user_id; Type: DEFAULT; Schema: public; Owner: ovpnflask
--

ALTER TABLE ONLY public.tb_user ALTER COLUMN user_id SET DEFAULT nextval('public.tb_user_user_id_seq'::regclass);


--
-- Data for Name: cnexpiredate; Type: TABLE DATA; Schema: public; Owner: ovpnflask
--

COPY public.cnexpiredate (cn, releasedate, expiredate) FROM stdin;
\.


--
-- Data for Name: ovpnclients; Type: TABLE DATA; Schema: public; Owner: ovpnflask
--

COPY public.ovpnclients (cn, ip, changedate, status, storename, expiredate, releasedate) FROM stdin;
\.


--
-- Data for Name: t1; Type: TABLE DATA; Schema: public; Owner: ovpnflask
--

COPY public.t1 (id, name, age, address, salary) FROM stdin;
\.


--
-- Data for Name: tb_user; Type: TABLE DATA; Schema: public; Owner: ovpnflask
--

COPY public.tb_user (user_id, user_type, username, password, display_name, status, create_time, update_time) FROM stdin;
3	1	user	user	user	1	2023-08-26 00:54:24.214524	2023-08-26 00:54:24.214524
2	1	admin	pbkdf2:sha256:600000$A1iWQjT7ZKUJEmcE$974a85ae252430be890481719559573fd4cd7e0eb4d42e641cfc133c01da043b	admin	1	2023-08-23 20:54:00.600386	2023-08-23 20:54:00.600386
1	1	super	pbkdf2:sha256:600000$0H5yhhn7uVEjJmHx$3032a65104b01f2021b9fb30a55a39a521d18f596ae7c1ca01340ea0a0815480	super	1	2023-08-26 17:27:02.880914	2023-08-26 17:27:02.880914
\.


--
-- Data for Name: tunovpnclients; Type: TABLE DATA; Schema: public; Owner: ovpnflask
--



--
-- Name: tb_user_user_id_seq; Type: SEQUENCE SET; Schema: public; Owner: ovpnflask
--

SELECT pg_catalog.setval('public.tb_user_user_id_seq', 1, false);


--
-- Name: cnexpiredate cnexpiredate_pk; Type: CONSTRAINT; Schema: public; Owner: ovpnflask
--

ALTER TABLE ONLY public.cnexpiredate
    ADD CONSTRAINT cnexpiredate_pk PRIMARY KEY (cn);


--
-- Name: ovpnclients ovpnclients_un; Type: CONSTRAINT; Schema: public; Owner: ovpnflask
--

ALTER TABLE ONLY public.ovpnclients
    ADD CONSTRAINT ovpnclients_un UNIQUE (cn);


--
-- Name: t1 t1_pkey; Type: CONSTRAINT; Schema: public; Owner: ovpnflask
--

ALTER TABLE ONLY public.t1
    ADD CONSTRAINT t1_pkey PRIMARY KEY (id);


--
-- Name: tb_user tb_user_pkey; Type: CONSTRAINT; Schema: public; Owner: ovpnflask
--

ALTER TABLE ONLY public.tb_user
    ADD CONSTRAINT tb_user_pkey PRIMARY KEY (user_id);


--
-- Name: tb_user tb_user_username_key; Type: CONSTRAINT; Schema: public; Owner: ovpnflask
--

ALTER TABLE ONLY public.tb_user
    ADD CONSTRAINT tb_user_username_key UNIQUE (username);


--
-- Name: tunovpnclients tunovpnclients_cn_key; Type: CONSTRAINT; Schema: public; Owner: ovpnflask
--

ALTER TABLE ONLY public.tunovpnclients
    ADD CONSTRAINT tunovpnclients_cn_key UNIQUE (cn);


--
-- PostgreSQL database dump complete
--

