{% extends 'base.html' %}

{% block title %}OpenVPN servers update{% endblock %}
{% block content %}

{# Content Wrapper. Contains page content #}
<div class="content-wrapper">

	{# Content Header (Page header) #}
	<div class="content-header">
		<div class="container-fluid">
			<div class="row mb-2">
				<div class="col-sm-6">
					<h1 class="m-0">OpenVPN services management</h1>
				</div>
				<div class="col-sm-6">
					<ol class="breadcrumb float-sm-right">
						<li class="breadcrumb-item"><a href="{{url_for('ovpn.index')}}">Home</a></li>
						<li class="breadcrumb-item active">Main</li>
					</ol>
				</div>
			</div>
		</div>
	</div>
	{#  content-header END #}

	<section class="content">
		<div class="container-fluid">
			<div class="row">
				<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

					{% if messages %}
						<ul class="flashes">
						{% for message in messages %}
							<div class="text-{{ message.tags }}">
								{{ message }}
							</div>
					{% endfor %}
						</ul>
					{% endif %}

				</div>
			</div>

		{# update OpenVPN service #}
		<div class="col-md-6 mx-auto">
			<div class="card card-primary">
				<div class="card-header">
					<h3 class="card-title">Update this OpenVPN service</h3>
				</div>

			<form method="post">
				<div class="card-body">

					<div class="form-group">
						<label for="openvpn_service_id">OpenVPN service UUID</label>
						<input type="text" value="{{id}}" class="form-control"  id="openvpn_service_id" placeholder="uuid" readonly>
					</div>

					<div class="form-group">
						<label for="{{ form.server_name.id_for_label }}">OpenVPN service name</label>
						<input type="text" value="{{form.server_name.value}}" class="form-control" name="{{form.server_name.html_name }}" id="{{ form.server_name.id_for_label }}" placeholder="openvpn service name">
					</div>

					<div class="form-group">
						<label for="{{ form.configuration_dir.id_for_label }}">OpenVPN configuration dir</label>
						<input type="text" value="{{form.configuration_dir.value or ''}}" class="form-control" name="{{form.configuration_dir.html_name }}" id="{{ form.configuration_dir.id_for_label }}" placeholder="OpenVPN configuration dir">
					</div>

					<div class="form-group">
						<label for="{{ form.configuration_file.id_for_label }}">OpenVPN configuration file</label>
						<input type="text" value="{{form.configuration_file.value or '' }}" class="form-control" name="{{form.configuration_file.html_name }}" id="{{ form.configuration_file.id_for_label }}" placeholder="OpenVPN configuration file">
					</div>

					<div class="form-group">
						<label for="{{ form.status_file.id_for_label }}">OpenVPN status file</label>
						<input type="text" value="{{form.status_file.value or '' }}" class="form-control" name="{{form.status_file.html_name }}" id="{{ form.status_file.id_for_label }}" placeholder="OpenVPN status file">
					</div>

					<div class="form-group">
						<label for="{{ form.log_file_dir.id_for_label }}">OpenVPN log file dir </label>
						<input type="text" value="{{form.log_file_dir.value or '' }}" class="form-control" name="{{form.log_file_dir.html_name }}" id="{{ form.log_file_dir.id_for_label }}" placeholder="OpenVPN log file dir">
					</div>

					<div class="form-group">
						<label for="{{ form.log_file.id_for_label }}">OpenVPN log file</label>
						<input type="text" value="{{form.log_file.value or '' }}" class="form-control" name="{{form.log_file.html_name }}" id="{{ form.log_file.id_for_label }}" placeholder="OpenVPN log file">
					</div>

					<div class="form-group">
						<label for="{{ form.startup_type.id_for_label }}">Service startup type:</label>
						<select class='custom-select' name="{{form.startup_type.html_name }}" id="{{ form.startup_type.id_for_label }}">
						  {% if form.startup_type.value == 1 %}
							<option value="0">sysv</option>
							<option value="1" selected>Systemd</option>
						  {% else %}
							<option value="0" selected>sysv</option>
							<option value="1">Systemd</option>
						  {% endif %}
						</select>
					</div>

					<div class="form-group">
						<label for="{{ form.startup_service.id_for_label }}">OpenVPN startup service</label>
						<input type="text" value="{{form.startup_service.value or '' }}" class="form-control" name="{{form.startup_service.html_name }}" id="{{ form.startup_service.id_for_label }}" placeholder="OpenVPN startup service">
					</div>

					<div class="form-group">
						<label for="{{ form.certs_dir.id_for_label }}">OpenVPN certs dir</label>
						<input type="text" value="{{form.certs_dir.value or '' }}" class="form-control" name="{{form.certs_dir.html_name }}" id="{{ form.certs_dir.id_for_label }}" placeholder="OpenVPN certs dir">
					</div>

					<div class="form-group">
						<label for="{{ form.learn_address_script.id_for_label }}">Learn address script:</label>
						<select class='custom-select' name="{{form.learn_address_script.html_name }}" id="{{ form.learn_address_script.id_for_label }}">
						  {% if form.learn_address_script.value == 1 %}
							<option value="0">disabled</option>
							<option value="1" selected>enabled</option>
						  {% else %}
							<option value="0" selected>disabled</option>
							<option value="1">enabled</option>
						  {% endif %}
						</select>
					</div>

					<div class="form-group">
						<label for="{{ form.managed.id_for_label }}">If managed by this APP:</label>
						<select class='custom-select' name="{{form.managed.html_name }}" id="{{ form.managed.id_for_label }}">
						  {% if form.managed.value == 1 %}
							<option value="0">disabled</option>
							<option value="1" selected>enabled</option>
						  {% else %}
							<option value="0" selected>disabled</option>
							<option value="1">enabled</option>
						  {% endif %}
						</select>
					</div>

					<div class="form-group">
						<label for="{{ form.management_port.id_for_label }}">Management port</label>
						<input type="text" value="{{form.management_port.value or ''}}" class="form-control" name="{{form.management_port.html_name }}" id="{{ form.management_port.id_for_label }}" placeholder="management port">
					</div>

					<div class="form-group">
						<label for="{{ form.management_password.id_for_label }}">Management password</label>
						<input type="password" value="{{form.management_password.value or ''}}" class="form-control" name="{{form.management_password.html_name }}" id="{{ form.management_password.id_for_label }}" placeholder="management password">
					</div>

					<div class="form-group">
						<label for="{{ form.comment.id_for_label }}">Comments</label>
						<input type="text" value="{{form.comment.value or ''}}" class="form-control" name="{{form.comment.html_name }}" id="{{ form.comment.id_for_label }}" placeholder="comment">
					</div>

				</div>

				<div class="card-footer">
					<a href="{{ url_for('ovpn:servers') }}" class="btn btn-secondary">Cancel and Return</a>
					<button type="submit" class="btn btn-primary float-right">Confirm Add</button>
				</div>

			</form>
		</div>

		</div>
	</section>
</div>

{% endblock %}

