  <aside class="main-sidebar sidebar-light-primary elevation-4">
    {# Brand Logo #}
    <a href="javascript:void(0);" οnclick="method()" class="brand-link">
      <img src="{{ url_for('static', filename='img/AdminLogo.png') }}" alt="Admin Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
      <span class="brand-text font-weight-light"> Admin System </span>
    </a>

    {# Sidebar #}
    <div class="sidebar">

      {# Sidebar Menu #}
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          {# Add icons to the links using the .nav-icon class with font-awesome or any other icon font library #}

          <li class="nav-item">
            <a href="{{ url_for('ovpn.index') }}" class="nav-link">
              <i class="nav-icon far fa-file"></i>
              <p>Welcome</p>
            </a>
          </li>


       <li class="nav-item menu-open">
        <a href="javascript:void(0);" class="nav-link">
          <i class="nav-icon fas fa-server"></i>
          <p>
            OVPN-tcp-443-tun
            <i class="right fas fa-angle-left"></i>
          </p>
        </a>
        <ul class="nav nav-treeview">
					
          <li class="nav-item">
            <a href="{{ url_for('ovpn.tunclientsStatus') }}" class="nav-link">
              <i class="nav-icon far fa-file"></i>
              <p>OVPN clients status</p>
            </a>
          </li>

          <li class="nav-item">
            <a href="{{ url_for('ovpn.tips') }}" class="nav-link">
              <i class="nav-icon far fa-file"></i>
              <p>Generate boss cert</p>
            </a>
          </li>

          <li class="nav-item">
            <a href="{{ url_for('ovpn.tips') }}" class="nav-link">
              <i class="nav-icon far fa-file"></i>
              <p>Generate generic cert</p>
            </a>
          </li>

          <li class="nav-item">
            <a href="{{ url_for('ovpn.tips') }}" class="nav-link">
              <i class="nav-icon far fa-file"></i>
              <p>BOSS REQ files</p>
            </a>
          </li>

          <li class="nav-item">
            <a href="{{ url_for('ovpn.tips') }}" class="nav-link">
              <i class="nav-icon far fa-file"></i>
              <p>BOSS cert files</p>
            </a>
          </li>

          <li class="nav-item">
            <a href="{{ url_for('ovpn.tips') }}" class="nav-link">
              <i class="nav-icon far fa-file"></i>
              <p>Generic client certs</p>
            </a>
          </li>

        </ul>
      </li>

      <li class="nav-item">
        <a href="{{ url_for('ovpn.adminUser') }}" class="nav-link active">
          <i class="nav-icon fas fa-table"></i>
          <p>Users Management</p>
        </a>
      </li>


        {# if userType == 0 #}
        {% if session['user_type'] == 0 %}
          <li class="nav-item">
            <a href="{{ url_for('ovpn.userScore') }}" class="nav-link">
              <i class="nav-icon far fa-file"></i>
              <p>成绩查询</p>
            </a>
          </li>
          <li class="nav-item">
            <a href="{{ url_for('ovpn.userInfo') }}" class="nav-link">
              <i class="nav-icon far fa-file"></i>
              <p>档案查询</p>
            </a>
          </li>                                     
        {% endif %}
        
        </ul>
      </nav>
      {# /.sidebar-menu #}
    </div>
    {# /.sidebar #}
  </aside>
