[Unit]
Description=uWSGI instance to serve OpenVPNWebUI
After=network.target

[Service]
User=root
Group=root
# Type=forking
# WorkingDirectory=/opt/ote/OpenVPNWebUI/
# Environment="/opt/ote/ote_venv/bin/"
ExecStart=/opt/ote/ote_venv/bin/uwsgi --ini /opt/ote/OpenVPNWebUI/OpenVPNWebUI.ini
# RuntimeDirectory=uwsgi
Restart=always
KillSignal=SIGQUIT
Type=notify
StandardError=syslog
NotifyAccess=all

[Install]
WantedBy=multi-user.target